.DS_Store
node_modules/
dist/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tempFile/
log/


#config/dev-en.js
#config/dev-kr.js
#config/dev-zh.js
#config/pre-zh.js
#config/prod-en.js
#config/prod-kr.js
# config/prod-zh.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

/package-lock.json
