  
<!DOCTYPE html>
<html>
  <head>
		<%- include("../../components/meta/index.ejs") -%>
    <title><%= title %></title>
  </head>
  <body class="theme-default">
    
    <%- include("../../components/header.ejs") -%>

    <div class="content">
      <div class="blank-content v-h-center">
        <img class="blank-img" src="BASE_URL/assets/img/blank.png" alt="">
        <p class="blank-msg">Error 400 错误请求，请重新尝试。</p>
      </div>
    </div>

    <%- include("../../components/common.ejs") -%>
  </body>

</html>